<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f76cb4">  <td>19/03/30 16:12:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OfferUpdate.offerUpdate()[pri:0, instance:OfferUpdate@224edc67]">offerUpdate</td> 
  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/03/30 16:12:42</td>   <td>-6640</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OfferUpdate.setUp()[pri:0, instance:OfferUpdate@224edc67]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/03/30 18:15:03</td>   <td>7334000</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OfferUpdate.tearDown()[pri:0, instance:OfferUpdate@224edc67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
</table>
